body {
    
}

#header {
    color: white;
    background-color: lightblue;
    text-align: center;
}

#searchHeader {
    width: 100%;
}

#searchBox{
    width: 100%;
}

#searchBtn {
    color: white;
    background-color: lightblue;
    width: 100%;
}

#dailyWeather {
    border-style: solid;
}

#cityName {
    font-weight: bold;
    font-size: xx-large;
}

#weeklyWeather {

}

li {
    list-style-type: none;
}