#header {
    color: white;
    background-color: lightblue;
    text-align: center;
}

#searchHeader {
    width: 100%;
    font-size: 150%;
}

#searchBox{
    width: 100%;
}

#searchBtn {
    color: white;
    background-color: lightblue;
    width: 100%;
    border-style: none;
}

#cityName {
    font-weight: bold;
    font-size: xx-large;
}

#fiveDayForecast {
    font-weight: bold;
    font-size: 150%;
}

#day1, #day2, #day3, #day4, #day5{
    border: solid;
    border-width: 2px;
}

li {
    list-style-type: none;
}

p:hover {
    color: white;
    background-color: lightblue;
}

p {
    border: solid;
    text-align: center;
}

.card-body {
    color: white;
    background-color: lightblue;
}